<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/backend.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
<div class="pg-header">
    {% include "include/header.html" %}
</div>
<div class="pg-body">
    <div class="row" style="margin: 40px 60px;">
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box default-bg">
                <i class="fa fa-desktop"></i>
                <a class="count" href="/cmdb/">资产</a>

                <div class="title">ASETS</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box twitter-bg">
                <i class="fa fa-connectdevelop"></i>

                <a class="count" href="/eye/">堡垒机</a>
                <div class="title">Bastion</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box green-bg">
                <i class="fa fa-eye"></i>

                <a class="count" href="/monitor/">监控</a>
                <div class="title">Monitor</div>
            </div>
        </div>



        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box task-bg">
                <i class="fa fa-tasks"></i>

                <div class="count">作业中心</div>
                <div class="title">Task</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box blue-bg">
                <i class="fa fa-cog"></i>
                <a class="count" href="">容器</a>

                <div class="title">docker</div>
            </div>
        </div>

{#        <div class="col-lg-3 col-sm-4 col-xs-6">#}
{#            <div class="info-box brown-bg">#}
{#                <i class="fa fa-cloud"></i>#}
{##}
{#                <div class="count">私有云</div>#}
{#                <div class="title">OpenStack</div>#}
{#            </div>#}
{#        </div>#}




        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box dns-bg">
                <i class="fa fa-tasks"></i>
                <a class="count" href="">CRM</a>

                <div class="title">CRM</div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box pool-bg">
                <i class="fa fa-skyatlas"></i>
                <a class="count" href="">娱乐</a>

                <div class="title">fun</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box flow-bg">
                <i class="fa fa-recycle"></i>
                <a class="count" href="">博客</a>

                <div class="title">blog</div>
            </div>
        </div>
{##}
{#        <div class="col-lg-3 col-sm-4 col-xs-6">#}
{#            <div class="info-box gray-bg">#}
{#                <i class="fa fa-plus"></i>#}
{##}
{#                <div class="count">添加</div>#}
{#                <div class="title">ADD</div>#}
{#            </div>#}
{##}
{##}
{#        </div>#}

    </div>
</div>

</body>
</html>