


    <div class="menu">
        <a id="menu_asset" class="menu-item" href="/cmdb/asset/">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <span>资产信息</span>
        </a>
        <a id="menu_bindhost" class="menu-item" href="/cmdb/bind_host/">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>资产用户</span>
        </a>
        <a id="menu_businessunit" class="menu-item" href="#">
            <i class="fa fa-free-code-camp" aria-hidden="true"></i>
            <span>资产业务/项目(待完善)</span>
        </a>
        <a id="menu_idc" class="menu-item" href="/cmdb/idc/">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span>IDC管理</span>
        </a>
        <a id="menu_tag" class="menu-item" href="/cmdb/tag/">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            <span>标签管理</span>
        </a>
        <a id="menu_log" class="menu-item" href="/cmdb/asset_log/">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>日志管理(待完善)</span>
        </a>

    </div>

