


    <div class="menu">
        <a id="menu_log" class="menu-item" href="{% url 'eye:user_audit' %}">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <span>审计日志</span>
        </a>
        <a id="menu_ssh" class="menu-item" href="{% url 'eye:webssh' %}">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>Webssh</span>
        </a>
        <a id="menu_mul_cmd" class="menu-item" href="{% url 'eye:multitask_cmd' %}">
            <i class="fa fa-free-code-camp" aria-hidden="true"></i>
            <span>批量命令</span>
        </a>
        <a id="menu_mul_file" class="menu-item" href="/eye/multitask/file_transfer/">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span>批量文件</span>
        </a>
        <a id="menu_eye_user" class="menu-item" href="">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span>堡垒机用户管理</span>
        </a>
        <a id="menu_eye_group" class="menu-item" href="">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span>业务组组管理</span>
        </a>

        <a id="menu_auth" class="menu-item" href="">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span>权限管理</span>
        </a>

    </div>

