


    <div class="menu">
        <a id="menu_asset" class="menu-item" href="/monitor/hosts/">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <span>监控主机</span>
        </a>
        <a class="menu-item" href="/monitor/host_groups/">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>主机组</span>
        </a>
        <a class="menu-item" href="/monitor/triggers/">
            <i class="fa fa-free-code-camp" aria-hidden="true"></i>
            <span>触发器列表</span>
        </a>
        <a class="menu-item" href="#">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span>ccc</span>
        </a>

    </div>

