{% extends 'layout/_layout.html' %}
{% block left_menu %}

    {% include 'menu/cmdb_menu.html' %}
{% endblock %}

{% block js %}


    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/data-list.js"></script>

    {% block js_cmdb %}
    {% endblock %}
{% endblock %}